<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MKVQuickLook</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2026 Robert Wildling</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Matroska Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.robertwildling.mkvquicklook.mkv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>WebM Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.robertwildling.mkvquicklook.webm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Ogg Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.robertwildling.mkvquicklook.ogg-video</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>AVI Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.robertwildling.mkvquicklook.avi</string>
				<string>public.avi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Opus Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.robertwildling.mkvquicklook.opus</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.audiovisual-content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.robertwildling.mkvquicklook.mkv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-matroska</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.audiovisual-content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WebM Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.robertwildling.mkvquicklook.webm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/webm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.audiovisual-content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.robertwildling.mkvquicklook.ogg-video</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogv</string>
					<string>ogg</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/ogg</string>
					<string>application/ogg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.audiovisual-content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AVI Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.robertwildling.mkvquicklook.avi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>avi</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-msvideo</string>
					<string>video/avi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
				<string>public.audiovisual-content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Opus Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.robertwildling.mkvquicklook.opus</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>opus</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/opus</string>
					<string>audio/ogg</string>
					<string>application/ogg</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
